* {
	box-sizing: border-box;
	font-family: "Roboto";
	padding: 0px;
	border: 0px;
	margin: 0px;
}

*:focus {
	outline: none;
}

/* HTML */

body {
	position: relative;
}

body * {
	font-size: inherit;
}

body.loading > * {
	display: none;
}

a {
	text-decoration: none;
}

/* on-click */

.on-click {
	position: relative;
	overflow: hidden;
}

.on-click > * {
	position: relative;
	z-index: 1;
}

/* ball */

.ball {
	background: #C0C0C0;
	border-radius: 50%;
	position: absolute;
	z-index: 0;
}

/* container */

.container {
	position: relative;
	max-width: 1230px;
	padding: 0px 15px;
	display: table;
	margin: auto;
	width: 100%;
}

/* navbar */

.navbar {
	box-shadow: 0px 2px 5px rgba(3, 4, 4, 0.5);
	background: #FFFFFF;
	position: fixed;
	z-index: 9000;
	height: 50px;
	width: 100%;
	left: 0px;
	top: 0px;
}

.navbar.static {
	position: relative;
	left: auto;
	top: auto;
}

.navbar .container {
	height: 100%;
}

.navbar-cell {
	vertical-align: middle;
	white-space: nowrap;
	display: table-cell;
	text-align: center;
	padding: 0px 10px;
}

.navbar-logo {
	margin-right: 0px;
	height: 0px;
}

.navbar.static .navbar-logo,
.navbar-logo.visible {
	margin-right: 10px;
	height: 40px;
}

.navbar-menu {
	padding: 0px;
	width: 100%;
}

.navbar-link {
	vertical-align: middle;
	display: inline-block;
	line-height: 50px;
	padding: 0px 10px;
	font-weight: 600;
	font-size: 12px;
	color: #3F3F3F;
}

.navbar-link.active {
	color: #EC6408;
}

.navbar-vantagens {
	border: 2px solid #79B928;
	vertical-align: middle;
	display: inline-block;
	border-radius: 3px;
	padding: 5px 10px;
	font-weight: 600;
	font-size: 12px;
	color: #79B928;
}

.navbar-social {
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
}

.navbar-social:last-child {
	margin-right: 0px;
}

.navbar-social img {
	height: 32px;
}

.navbar-calendar {
	cursor: pointer;
	padding: 10px;
}

.navbar-calendar-status {
	line-height: 18px;
	font-weight: 600;
	font-size: 12px;
	color: #EC6408;
}

.navbar-calendar-text {
	line-height: 12px;
	font-size: 9px;
	color: #3F3F3F;
}

.navbar-calendar-arrow {
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid #3F3F3F;
	position: absolute;
	margin-left: -5px;
	height: 0px;
	bottom: 4px;
	width: 0px;
	left: 50%;
}

.navbar-responsive {
	display: none;
}

.navbar-responsive svg {
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	height: 50px;
	width: 50px;
}

@media all and (max-width: 1230px){
	.navbar-cell {
		display: none;
		padding: 0px;
	}

	.navbar-cell:first-child {
		display: table-cell;
		text-align: center;
	}

	.navbar-cell:last-child {
		display: table-cell;
		width: 1px;
	}

	.navbar-logo.visible, .navbar.static .navbar-logo {
		margin-right: 0px;
		margin-left: 50px;
	}
}

/* responsive */

.responsive {
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 9001;
	bottom: 0px;
	width: 100%;
	left: 0px;
	top: 50px;
}

.responsive.static {
	position: absolute;
}

.responsive-box {
	box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.5);
	background: #FFFFFF;
	position: absolute;
	overflow: auto;
	height: 100%;
	width: 200px;
	right: 0px;
}

.responsive-logo {
	text-align: center;
	padding: 15px;
}

.responsive-logo img {
	max-width: 80px;
	width: 100%;
}

.responsive-link {
	text-align: center;
	font-size: 14px;
	display: block;
	color: #1F1F1F;
	padding: 10px;
}

.responsive-vantagens {
	text-align: center;
	padding: 15px;
}

.responsive-vantagens a {
	border: 2px solid #79B928;
	vertical-align: middle;
	display: inline-block;
	border-radius: 3px;
	padding: 5px 10px;
	font-weight: 600;
	font-size: 12px;
	color: #79B928;
}

.responsive-socials {
	text-align: center;
	padding: 15px;
}

.responsive-socials a {
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;
}

.responsive-socials a:last-child {
	margin-right: 0px;
}

.responsive-socials a img {
	width: 32px;
}

.responsive-calendar {
	padding: 10px;
}

.responsive-calendar-status {
	text-align: center;
	line-height: 18px;
	font-weight: 600;
	font-size: 12px;
	color: #EC6408;
}

.responsive-calendar-text {
	text-align: center;
	line-height: 12px;
	font-size: 9px;
	color: #3F3F3F;
}

@media all and (min-width: 1231px){
	.responsive {
		display: none!important;
	}
}

/* header */

.header {
	position: relative;
}

.header-slider {
	position: absolute;
	height: 100%;
	z-index: -1;
	width: 100%;
	left: 0px;
	top: 0px;
}

.header-slider .owl-stage-outer {
	height: 100%;
}

.header-slider .owl-stage {
	height: 100%;
}

.header-slider .owl-item {
	height: 100%;
}

.header-slide {
	position: relative;
	height: 100%;
}

.header-slide img {
	object-position: 50% 20%;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.header-logo {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
	margin: 0px auto 0px 0px;
	background: #FFFFFF;
	/*padding-top: 50px;*/
	display: table;
}

.header-logo img {
	height: 110px;
	margin: 40px;
}

.header-action {
	padding: 180px 0px 60px 0px;
}

/* content */

.content {
	padding: 30px 0px 60px 0px;
	position: relative;
	z-index: 1000;
}

.content-title {
	margin-bottom: 30px;
	text-align: center;
	font-weight: 300;
	font-size: 24px;
}

/* estilo */

.estilos {
	table-layout: fixed;
	display: table;
	width: 100%;
}

.estilo {
	vertical-align: bottom;
	display: table-cell;
	text-align: center;
}

@media all and (max-width: 980px){
	.estilos {
		text-align: center;
		display: block;
		margin: -15px;
		width: auto;
	}

	.estilo {
		display: inline-block;
		margin: 15px;
		width: 120px;
	}
}

/* home-buttons */

.home-buttons {
	text-align: center;
	margin: -15px;
}

.home-button {
	border: 2px solid #EC6408;
	display: inline-block;
	background: #FFFFFF;
	border-radius: 2px;
	padding: 6px 12px;
	font-size: 17px;
	color: #EC6408;
	margin: 15px;
}

.home-button.on {
	background: #EC6408;
	color: #FFFFFF;
}

/* leaf-side */

.leaf-side {
	margin: -60px auto -146px 0px;
	position: relative;
	display: table;
	z-index: 750;
}

/* map */

#map {
	margin: 30px 0px 60px 0px;
	position: relative;
	min-height: 450px;
	z-index: 500;
}

/* postagens */

.postagens {
	vertical-align: top;
	padding-right: 15px;
	display: table-cell;
	width: 70%;
}

@media all and (max-width: 1000px){
	.postagens {
		border-bottom: 1px solid #E9E9E9;
		margin: 0px auto 30px auto;
		padding: 0px 0px 30px 0px;
		max-width: 800px;
		display: block;
		width: 100%;
	}
}

/* postagens-box */

.postagens-box {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;
	background: #F4F4F4;
	border-radius: 3px;
	display: table;
	width: 100%;
}

.postagens-box:last-child {
	margin-bottom: 0px;
}

.postagens-box-image {
	vertical-align: middle;
	display: table-cell;
	padding: 5px;
	width: 35%;
}

.postagens-box-image img {
	border-radius: 3px;
	width: 100%;
}

.postagens-box-content {
	vertical-align: top;
	display: table-cell;
	padding: 15px;
}

.postagens-box-title {
	margin-bottom: 10px;
	font-size: 20px;
	display: block;
	color: #1F1F1F;
}

.postagens-box-body {
	margin-bottom: 10px;
	text-align: justify;
	line-height: 1.5;
	font-size: 14px;
	display: block;
	color: #6A6A6A;
}

.postagens-box-footer {
	table-layout: fixed;
	display: table;
	width: 100%;
}

.postagens-box-footer-cell {
	vertical-align: middle;
	display: table-cell;
	font-size: 14px;
	color: #6A6A6A;
}

.postagens-box-footer-cell i.fa {
	margin-right: 10px;
}

/* postagens-pagination */

.postagens-pagination {
	text-align: center;
	display: block;
	margin: -10px;
}

.postagens-pagination-link {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	display: inline-block;
	vertical-align: top;
	background: #D4D4D4;
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #1F1F1F;
	margin: 10px;
	width: 40px;
}

.postagens-pagination-link.active {
	background: #79B928;
	color: #FFFFFF;
}

/* postagens-lateral */

.postagens-lateral {
	vertical-align: top;
	display: table-cell;
	padding-left: 15px;
}

.postagens-search {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;
	border-radius: 3px;
	overflow: hidden;
	display: table;
	width: 100%;
}

.postagens-cell {
	vertical-align: middle;
	display: table-cell;
}

.postagens-cell.big {
	width: 100%;
}

.postagens-cell input {
	background: #F4F4F4;
	padding: 0px 15px;
	font-size: 14px;
	display: block;
	height: 50px;
	width: 100%;
}

.postagens-cell button {
	background: #79B928;
	font-size: 14px;
	cursor: pointer;
	display: block;
	color: #FFFFFF;
	height: 50px;
	width: 50px;
}

@media all and (max-width: 1000px){
	.postagens-lateral {
		max-width: 450px;
		display: block;
		padding: 0px;
		margin: auto;
	}
}

/* postagem-autor */

.postagem-autor {
	margin: 30px 0px;
	display: block;
}

.postagem-autor-box {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	background: #F4F4F4;
	border-radius: 3px;
	display: block;
	padding: 15px;
	width: 100%;
}

.postagem-autor-foto {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 15px;
	border-radius: 3px;
	overflow: hidden;
	display: block;
	width: 100%;
}

.postagem-autor-nome {
	margin-bottom: 5px;
	font-size: 18px;
}

.postagem-autor-profissao {
	margin-bottom: 15px;
	font-size: 13px;
	color: #6A6A6A;
}

.postagem-autor-sobre {
	margin-bottom: 15px;
	text-align: justify;
	font-size: 15px;
}

.postagem-autor-telefone {
	margin-bottom: 15px;
	font-size: 15px;
}

.postagem-autor-link {
	font-size: 15px;
}

.postagem-autor-link a {
	color: #3498DB;
}

.postagem-autor-nome:last-child,
.postagem-autor-profissao:last-child,
.postagem-autor-sobre:last-child,
.postagem-autor-telefone:last-child,
.postagem-autor-link:last-child {
	margin-bottom: 0px;
}

/* postagens-last */

.postagens-last {
	display: block;
}

.postagens-last-title {
	margin-bottom: 5px;
	font-size: 20px;
}

.postagens-last-link {
	border-left: 2px solid #79B928;
	margin: 0px auto 5px 0px;
	padding: 5px 10px;
	font-size: 16px;
	display: table;
	color: #1F1F1F;
}

.postagens-last-link:last-child {
	margin-bottom: 0px;
}

/* postagem-view */

.postagem-view-title {
	padding-bottom: 5px;
	font-weight: 300;
	font-size: 26px;
}

.postagem-view-data {
	padding-bottom: 30px;
	font-size: 15px;
	color: #9F9F9F;
}

.postagem-view-data i {
	padding-right: 10px;
}

.postagem-view-capa {
	padding-bottom: 30px;
}

.postagem-view-capa img {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	width: 100%;
}

.postagem-view-body {
	padding-bottom: 30px;
	text-align: justify;
	font-size: 15px;
}

.postagem-view-paper {
	padding-bottom: 30px;
}

.postagem-view-paper:last-child {
	padding-bottom: 0px;
}

.postagem-view-paper-title {
	padding-bottom: 10px;
	font-weight: 300;
	font-size: 22px;
}

.postagem-view-paper-title i {
	margin-right: 10px;
}

.postagem-view-youtube {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	overflow: hidden;
}

.postagem-view-fotos {
	text-align: center;
	display: block;
	margin: -10px;
}

.postagem-view-foto {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	display: inline-block;
	vertical-align: top;
	border-radius: 3px;
	overflow: hidden;
	height: 149px;
	margin: 10px;
	width: 149px;
}

.postagem-view-foto img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.postagem-view-categorias {
	display: block;
	margin: -5px;
}

.postagem-view-categoria {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	display: inline-block;
	background: #79B928;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 14px;
	color: #FFFFFF;
	margin: 5px;
}

.postagem-view-tags {
	display: block;
	margin: -5px;
}

.postagem-view-tag {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	display: inline-block;
	background: #E9E9E9;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 14px;
	margin: 5px;
}

.postagem-view-arquivos {
	display: block;
	margin: -5px;
}

.postagem-view-arquivo {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	display: inline-block;
	background: #3498DB;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 14px;
	color: #FFFFFF;
	margin: 5px;
}

.postagem-view-comment-form {
	border-bottom: 1px solid #D4D4D4;
	padding-bottom: 15px;
	margin-bottom: 15px;
	display: block;
}

.postagem-view-comment-form.logged {
	display: table;
	width: 100%;
}

.postagem-view-comment-cell {
	vertical-align: top;
	display: table-cell;
}

.postagem-view-comment-cell.picture {
	width: 95px;
}

.postagem-view-comment-cell.picture span {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	margin-right: 15px;
	overflow: hidden;
	display: block;
	height: 80px;
	width: 80px;
}

.postagem-view-comment-cell.picture span img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.postagem-view-comment-text {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 15px;
	background: #F4F4F4;
	border-radius: 3px;
	min-height: 130px;
	resize: vertical;
	font-size: 14px;
	padding: 15px;
	width: 100%;
}

.postagem-view-comment-btn {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	background: #79B928;
	border-radius: 3px;
	padding: 10px 20px;
	margin-left: auto;
	font-size: 14px;
	cursor: pointer;
	display: table;
	color: #FFFFFF;
}

.postagem-view-comment-btn i.fa {
	margin-right: 10px;
}

.postagem-view-comment-facebook {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	background: #3B5999;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	display: block;
	color: #FFFFFF;
	padding: 15px;
	width: 100%;
}

.postagem-view-comment-facebook i.fa {
	margin-right: 10px;
}

/* postagem-comment */

.postagem-comment {
	margin-bottom: 30px;
	display: table;
	width: 100%;
}

.postagem-comment:last-child {
	margin-bottom: 0px;
}

.postagem-comment-cell {
	vertical-align: top;
	display: table-cell;
}

.postagem-comment-cell.picture {
	width: 95px;
}

.postagem-comment-cell.picture span {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	margin-right: 15px;
	overflow: hidden;
	display: block;
	height: 80px;
	width: 80px;
}

.postagem-comment-cell.picture span img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.postagem-comment-name {
	margin-bottom: 5px;
	font-size: 15px;
}

.postagem-comment-date {
	font-size: 12px;
	color: #6A6A6A;
}

.postagem-comment-content {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 15px;
	background: #F4F4F4;
	border-radius: 3px;
	font-size: 15px;
	padding: 15px;
}

.postagem-comment-content:last-child {
	margin-bottom: 0px;
}

/* postagem-comment-reply */

.postagem-comment-reply {
	display: block;
}

.postagem-comment-reply .postagem-comment-cell.picture {
	width: 65px;
}

.postagem-comment-reply .postagem-comment-cell.picture span {
	height: 50px;
	width: 50px;
}

.postagem-comment-reply .postagem-view-comment-form {
	padding-bottom: 0px;
	border-bottom: 0px;
	margin-bottom: 0px;
}

.postagem-comment-reply .postagem-view-comment-cell.picture {
	width: 65px;
}

.postagem-comment-reply .postagem-view-comment-cell.picture span {
	height: 50px;
	width: 50px;
}

.postagem-comment-reply .postagem-view-comment-text {
	min-height: 50px;
}

/* postagem-view-voltar */

.postagem-view-voltar {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	margin: 0px auto 30px 0px;
	background: #79B928;
	border-radius: 3px;
	text-align: center;
	padding: 10px 20px;
	font-size: 14px;
	display: table;
	color: #FFFFFF;
}

.postagem-view-voltar > * {
	vertical-align: middle;
	display: inline-block;
}

.postagem-view-voltar i.fa {
	margin-right: 15px;
}

@media all and (max-width: 1000px){
	.postagem-view-voltar {
		width: 100%;
	}
}

/* footer */

.footer {
	background: #2D2D2D;
	padding: 30px 0px;
}

.footer .container {
	padding: 0px;
}

.footer-cell {
	vertical-align: middle;
	display: table-cell;
	padding: 0px 15px;
}

.footer-cell.menu {
	vertical-align: top;
	width: 25%;
}

.footer-cell.social {
	text-align: center;
	width: 20%;
}

.footer-cell.facebook {
	width: 30%;
}

.footer-menu-link {
	margin-bottom: 5px;
}

.footer-menu-link:last-child {
	margin-bottom: 0px;
}

.footer-menu-link a {
	display: inline-block;
	vertical-align: top;
	padding: 5px 10px;
	font-size: 14px;
	color: #FFFFFF;
}

.footer-social {
	vertical-align: middle;
	display: inline-block;
	margin: 5px;
}

.footer-social img {
	height: 40px;
}

.facebook-plugin {
	max-width: 500px;
	overflow: hidden;
	display: block;
	margin: auto;
	width: 100%;
}

.facebook-plugin iframe {
	width: 100%;
}

@media all and (max-width: 1000px){
	.footer-cell {
		display: block;
	}

	.footer-cell.menu,
	.footer-cell.social,
	.footer-cell.facebook {
		text-align: center;
		width: auto;
	}

	.footer-cell.menu:nth-child(2) {
		margin-bottom: 30px;
		padding-top: 5px;
	}

	.footer-cell.social {
		margin-bottom: 30px;
	}
}

/* alert */

.alert {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;
	border-radius: 3px;
	font-size: 14px;
	display: block;
	color: #FFFFFF;
	padding: 15px;
}

.alert.information {
	background: #3498DB;
}

.alert.success {
	background: #2ECC71;
}

.alert.error {
	background: #E74C3C;
}

.alert:last-child {
	margin-bottom: 0px;
}

/* owl-dots */

.owl-dots {
	text-align: right;
	padding: 10px 0px;
}

.owl-dots .owl-dot {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}

.owl-dots .owl-dot:last-child {
	margin-right: 0px;
}

.owl-dots .owl-dot span {
	border: 1px solid #9CC52C;
	border-radius: 3px;
	cursor: pointer;
	display: block;
	height: 16px;
	width: 16px;
}

.owl-dots .owl-dot.active span {
	border-color: #EC6408;
}

/* alert */

.alert-box {
	max-height: 100%;
	max-width: 300px;
	overflow: hidden;
	position: fixed;
	display: block;
	z-index: 9999;
	padding: 15px;
	width: 100%;
	right: 0px;
	top: 0px;
}

.alert-fade {
	margin-bottom: 15px;
	display: block;
}

.alert-fade:last-child {
	margin-bottom: 0px;
}

/* helpers */

.no-padding {
	padding: 0px!important;
}

.hidden {
	visibility: hidden;
	display: none;
}

/* Calendar */
.calendar {
	position: absolute;
	width:245px;
	background-color: white;
	transform: translate(-35px,0);
}
.calendar_inner {
	margin: 3px;
	box-shadow: 2px 2px 4px #838383;

	background-color: white;
	display: flex;
	flex-wrap: wrap;
}
.day {
	display: inline-block;
	width: 30px;
	position: relative;
	border:1px solid #EBEBEB;
	margin: 4px 2px;
	border-radius: 4px;
	font-size: 14px;
}
.off {
	border-radius: 8px;
	background-color: #959595;
	color:white;
}
.calHeader {
	margin: 2px;
	width: 30px;
	font-size: 12px;
}
.testeCal {
	width: 350px;
	border: solid 4px orange;
	text-align: center;
	padding: 10px 15px 25px;
	margin: 20px auto;
	display: inline-block;
}
.postagensFooter {
	width: 350px;
	margin: 20px auto;
	display: inline-block;
	text-align: center;
	padding: 10px 15px 25px;
}
.newsletter {
	width: 350px;
	margin: 20px auto;
	display: inline-block;
}
.newsletter form {
	display: flex;
	flex-direction: column;
}