.alert-box {
	max-height: calc(100% - 20px);
	max-width: 300px;
	overflow: hidden;
	position: fixed;
	z-index: 1100;
	padding: 15px;
	width: 100%;
	right: 0px;
	top: 0px;
}

.alert-fade {
	overflow: hidden;
	display: block;
	height: 0px;
}

.widget-box {
	margin: 0px 0px 15px 0px;
	background: #FFFFFF;
}

.dataTables_wrapper .row:first-child{
	background-color: #FFFFFF;
	padding-top: 20px;
}

.dataTables_wrapper .row:last-child{
	background-color: #FFFFFF;
}