/* HTML */

body {
	background: #BFBFBF;
}

textarea {
	min-height: 90px;
	resize: vertical;
}

/* navbar */

.navbar {
	background: #353535;
}

.navbar .navbar-brand {
	padding-bottom: 8px;
	padding-top: 8px;
}

.ace-nav > li.light-gray > a {
	background: #5F5F5F;
}

.ace-nav > li.light-gray.open > a {
	background: #747474;
}

.ace-nav .nav-user-photo {
	height: 36px;
	width: 36px;
}

/*  */

.anim {
	overflow: hidden;
	display: block;
	height: 0px;
}

/*  */

.btn-upload {
	padding: 2px 6px;
}

/* table */

.table-middle td {
	vertical-align: middle!important;
}

/* form */

.form-group input.form-control,
.form-group select.form-control {
	font-size: 14px!important;
	padding: 10px!important;
	height: auto!important;
}

/* datatable */

.widget-body .table > thead > tr > th:last-child {
	border-right-color: #DDDDDD;
}

.widget-body .dataTables_wrapper {
	padding: 0px 12px;
}

.widget-body .dataTables_wrapper .row {
	margin-right: -12px!important;
	margin-left: -12px!important;
}

.widget-body .dataTables_filter,
.widget-body .dataTables_paginate {
	font-size: 0px;
}

.widget-body .dataTables_wrapper .row:first-child {
	padding-top: 12px;
}

.widget-body .dataTables_length {
	padding-top: 1px;
}

.widget-body .dataTables_wrapper input[type=search] {
	margin-right: 0px;
}

.widget-body .dataTables_wrapper label {
	margin-bottom: 0px;
}

.widget-body .dataTables_info {
	padding-top: 6px;
}

.widget-body .dataTables_paginate .pagination {
	margin-right: 0px;
	font-size: 14px;
}

.widget-body .dataTables_wrapper .row:last-child {
	border-bottom: 0px;
}

/* galeria */

.postagem-galeria {
	text-align: center;
	display: block;
	margin: -10px;
}

.postagem-foto {
	display: inline-block;
	vertical-align: top;
	max-width: 200px;
	cursor: pointer;
	font-size: 0px;
	margin: 10px;
	width: 100%;
}

.postagem-foto-imagem {
	margin-bottom: 10px;
	height: 200px;
	width: 100%;
}

.postagem-foto-imagem img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.postagem-foto-checkbox {
	text-align: center;
}

.postagem-foto span.lbl {
	line-height: normal!important;
}

/* fancybox */

.fancybox-inner {
	position: relative;
}

.fancybox-tooltip {
	position: absolute;
}