div.tagsinput {
	border: 1px solid #CCCCCC;
	padding: 5px 5px 0px 5px;
	background: #FFFFFF;
	max-height: 100px;
	overflow-y: auto;
	width: 100%;
}

div.tagsinput span.tag {
	border: 1px solid #A5D24A;
	margin: 0px 5px 5px 0px;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	background: #CDE69C;
	font-size: 14px;
	color: #638421;
	padding: 5px;
}

div.tagsinput span.tag a {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: #82AD2B;
}

div.tagsinput input {
	border: 1px solid transparent;
	background: transparent;
	margin: 0px 5px 5px 0px;
	width: 140px!important;
	font-size: 14px;
	color: #272822;
	outline: 0px;
	padding: 5px;
}

div.tagsinput div {
	vertical-align: middle;
	display: inline-block;
}

.tags_clear {
	height: 0px;
	width: 100%;
}

.not_valid {
	background: #FBD8DB!important;
	color: #90111A!important;
}