/* login */

.login-container {
	padding: 60px 0px;
}

/* logo */

.logo {
	margin-bottom: 30px;
	font-size: 0px;
}

.logo img {
	max-width: 174px;
	width: 100%;
}

/* widget */

.login-layout .login-box .widget-main {
	padding: 16px;
}

/* header */

.header {
	margin-top: 0px;
}