/*Geral*/
* {
	margin:0;
	padding:0;

	font-family: 'Roboto', sans-serif;
}

/*Produto Geral*/
.ProductContainer {
	margin-top: 10vh;
	margin-bottom: 10vh;
}
.VerticalList {
	display: flex;
	flex-direction: column;
}
.Lined {
	border: solid black 1px;
	margin:0!important;
	padding:0!important;
}

/*Items com checkBox*/
.item {
	margin: 10px 2px;

	font-size: 14px;
	font-weight: bold;
}
.item > span {
	margin-left: 4px;
}
.item input[type=checkbox]{
	border: 10px solid black;
	border-radius: 2px;
}

.itemDescrip {
	font-size: 12px;
	font-weight: normal;
}

/*Header do produto*/
.productHeader {
	margin: 20px 0;
}
.FoodPhoto {
	margin: 10px auto;
	width: 200px;
}
#comboType{
	margin: auto;

	vertical-align: middle;
}

/*Custom JS necessity classes*/
.hiddenItem {
	display: none;
}